.sidebar-right
  .sidebar-right--top
    .sidebar-right--top--recomend
      %h2.recomend-user
        おすすめユーザー
      .sidebar-right--top--list
        - @users.each do |user|
          .user-profile
            .profile-pic
              = image_tag user.image, size: '50x50' if user.image.present?
            .user-info
              .user.user-name
                = link_to user_path(user) do
                  = user.name
              .user.user-nickname
                = "@#{user.nickname}"
    .sidebar-right--top--find
      知り合いを見つけましょう
  .sidebar-right--bottom
    .sidebar-right--bottom--list
      %li.about
        twitter
      %li.about
        twitter
      %li.about
        twitter
      %li.about
        twitter
    .sidebar-right--bottom--advertisement
      Twitter広告
