.tweet-main
  .tweet-box
    .tweet-user
      .profile-image
      .tweet-form
        = form_for @tweet do |f|
          .tweet-form-top
            = f.text_field :content, placeholder:'type a message', class:'tweet'
          = f.label :image, class:'tweet-image' do
            = f.file_field :image, class:'image'
            %i.fa.fa-image
          = f.submit "Send", class:'submit'
  .tweet-container
    .new-tweet-bar
      .tweet-nofitication
        新着ツイートなし
    .tweet-list
      = render 'tweet'
