- @tweets.each do |tweet|
  .tweet
    .profile-pic
      = image_tag tweet.user.image, size: '50x50' if tweet.user.image.present?
    .user-info
      .user.user-name
        = link_to user_path(tweet.user_id) do
          = tweet.user.name
      .user.user-nickname
        = "@#{tweet.user.nickname}"
      .user.user-time
        = time_ago_in_words tweet.created_at
    .tweet-text
      = tweet.content
    .tweet-pic
      = image_tag tweet.image, size: '200x200' if tweet.image.present?
    .tweet-footer
      .tweet-footer__reply
        .tweet-footer__reply--button
          %i.fa.fa-comment-o
        .tweet-footer__reply--count
          12
      .tweet-footer__retweet
        .tweet-footer__retweet--button
          %i.fa.fa-retweet
        .tweet-footer__retweet--count
          43
      .tweet-footer__favorite
        .tweet-footer__favorite--button
          %i.fa.fa-thumbs-o-up
        .tweet-footer__favorite--count
          666
      .tweet-footer__dm
        .tweet-footer__dm--button
          %i.fa.fa-envelope-o
        .tweet-footer__dm--count
          888
      .tweet-footer__watch-later
        .tweet-footer__watch-later--button
          %i.fa.fa-plus
        .tweet-footer__watch-later--link
          - if current_user.watch_later?(tweet)
            = render 'watch_laters/destroy', tweet: tweet
          - else
            = render 'watch_laters/create', tweet: tweet
