=render 'users/user-topbar'
.page-container
  .ProfileCanopy-header-box
    .ProfileCanopy-header-box--inner
      .ProfileCanopy-header
        %a.ProfileBackImage
          = image_tag current_user.image, size: '' if current_user.image.present?
        .AppContainer
          .ProfileCanopy-avatar
            .ProfileAvatar
              %a.ProfileAvatarImage
                = image_tag current_user.image, size: '200x200' if current_user.image.present?
      .ProfileCanopy-navBar
        .navBar-container
          .navBar-container--child
            .navBar-container--child__mini
              .Profile-nav
                %ul.Profile-nav--list
                  %li.Profile-nav--item.Profile-nav--item__tweets
                    .ProfileNav-stat
                      %span.ProfaileNav-label
                        ツイート
                      %span.ProfaileNav-value
                        = current_user.tweets.count
                  %li.Profile-nav--item.Profile-nav--item__following
                    .ProfileNav-stat
                      %span.ProfaileNav-label
                        = link_to following_user_path(current_user) do
                          フォロー
                      %span.ProfaileNav-value
                        = current_user.followings.count
                  %li.Profile-nav--item.Profile-nav--item__followers
                    .ProfileNav-stat
                      %span.ProfaileNav-label
                        = link_to followers_user_path(current_user) do
                          フォロワー
                      %span.ProfaileNav-value
                        = current_user.followers.count
                  %li.Profile-nav--item.Profile-nav--item__favorites
                    .ProfileNav-stat
                      %span.ProfaileNav-label
                        いいね
                      %span.ProfaileNav-value
                        123
                  %li.Profile-nav--item.Profile-nav--item__list
                    .ProfileNav-stat
                      %span.ProfaileNav-label
                        リスト
                      %span.ProfaileNav-value
                        8
                  %li.Profile-nav--item.Profile-nav--item__moments
                    .ProfileNav-stat
                      %span.ProfaileNav-label
                        モーメント
                      %span.ProfaileNav-value
                        9
                  %li.Profile-nav--item.Profile-nav--item__UserEdit
                    .edit-action
                      .edit-button
                        = link_to edit_user_path(current_user) do
                          プロフィール編集
  .AppContainer
    .AppContainerMain
      .AppContainerMain--left
        .LeftContent
          .LeftContentInner
            .LeftContentInner--Profile
              .Profile-name
                = current_user.name
                %i.fa.fa-lock
              .Profile-nickname
                = "@#{current_user.nickname}"
              .Profile-location
                %i.fa.fa-globe
                japan
              .profile-joinDate
                %i.fa.fa-calendar
                2010年7月に登録
            .LeftContentInner--Pic
              .PicHeader
                .PicHeader--title
                  %i.fa.fa-picture-o
                  画像と動画
              - current_user.tweets.each do |tweet|
                .PicBox
                  .PicBox--pic
                    = image_tag tweet.image, size: '50x50' if tweet.image.present?

      .AppContainerMain--right
        .RightContent-tweets
          .TweetsHeader
            .TweetsHeaderSpace
              .TweetsHeader-menu
                .TweetsHeader-menu--tweets
                  あとで見る
          - @watch_laters_tweets.each do |watch_laters_tweet|
            .tweet
              .profile-pic
                = image_tag watch_laters_tweet.image,size: '50x50' if watch_laters_tweet.user.image.present?
              .user-info
                .user.user-name
                  = current_user.name
                .user.user-nickname
                  = "@#{current_user.nickname}"
                .user.user-time
                  = time_ago_in_words watch_laters_tweet.created_at
              .tweet-text
                = watch_laters_tweet.content
              .tweet-pic
                = image_tag watch_laters_tweet.image,size: '50x50' if watch_laters_tweet.image.present?

      .sidebar-right
        .sidebar-right--top
          .sidebar-right--top--recomend
            %h2.recomend-user
              おすすめユーザー
            .sidebar-right--top--list
              - @users.each do |user|
                .user-profile
                  .profile-pic
                    = image_tag user.image, size: '50x50' if user.image.present?
                  .user-info
                    .user.user-name
                      = link_to user_path(user) do
                        = user.name
                    .user.user-nickname
                      = "@#{user.nickname}"
